<div class="mac-book-air1-container">
  <div class="mac-book-air1-mac-book-air1">
    <img
      src="/assets/external/bluewhiteleafybackgroundvector53876136080122-1lm-900h.png"
      alt="bluewhiteleafybackgroundvector53876136080122"
      class="mac-book-air1-bluewhiteleafybackgroundvector538761360801"
    />
    <span class="mac-book-air1-text">
      <span class="mac-book-air1-text01">Hello</span>
      <span class="mac-book-air1-text02">,</span>
      <span class="mac-book-air1-text03">
        <span [innerHTML]="rawbwvv"></span>
      </span>
      <span>Guyss!</span>
    </span>
    <div class="mac-book-air1-frame1">
      <span class="mac-book-air1-text05"><span>Login</span></span>
      <span class="mac-book-air1-text07"><span>SignUp</span></span>
      <img
        src="/assets/external/line138-on.svg"
        alt="Line138"
        class="mac-book-air1-line1"
      />
    </div>
    <img
      src="/assets/external/line2310-z0di.svg"
      alt="Line2310"
      class="mac-book-air1-line2"
    />
    <img
      src="/assets/external/line3311-5z0c.svg"
      alt="Line3311"
      class="mac-book-air1-line3"
    />
    <span class="mac-book-air1-text09"><span>Enter your email</span></span>
    <span class="mac-book-air1-text11"><span>Enter Password</span></span>
    <img
      src="/assets/external/basileyeclosedsolid314-4lh.svg"
      alt="basileyeclosedsolid314"
      class="mac-book-air1-basileyeclosedsolid"
    />
    <img
      src="/assets/external/flatcoloriconsgoogle317-8doc.svg"
      alt="flatcoloriconsgoogle317"
      class="mac-book-air1-flatcoloriconsgoogle"
    />
    <img
      src="/assets/external/vector323-3g1l.svg"
      alt="Vector323"
      class="mac-book-air1-vector"
    />
    <span class="mac-book-air1-text13"><span>Or</span></span>
    <img
      src="/assets/external/rectangle1326-3luo-200h.png"
      alt="Rectangle1326"
      class="mac-book-air1-rectangle1"
    />
    <span class="mac-book-air1-text15"><span>Login</span></span>
  </div>
</div>
